<!-- Top Announcement Bar -->
<div class="bg-primary text-white text-center py-2 text-sm">
    <p>🎉 Free worldwide shipping on orders over $100 | Use code: FREESHIP</p>
</div>

<%= render "static/hero_section" %>
<%= render "static/feature_bar" %>
<%= render "static/categories" %>
<%= render "static/feature_products" %>
<%= render "static/promotional_banner" %>
<%= render "static/testimonials" %>
<%= render "static/newsletter" %>
